#addForm {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;

    animation: bgfade $add_form_animate_time;
    .test-block{
        
        animation: fgfade $add_form_animate_time;
    }
    @keyframes bgfade {
        from {
            background-color: rgba(0, 0, 0, 0);
        }
        to {
            background-color: rgba(0, 0, 0, 0.7);
        }
    }

    @keyframes fgfade {
        from{
            margin-top: 100vh;
            opacity: 0;
        }
        to{
            margin-top: 0px;
            opacity: 1;
        }
    }
}
