$navbarHeight: 80px;
$mainHeight: calc(100vh - #{$navbarHeight});
$pl_main_background: #C5C5C5;
$pl_text_black: #1a2138;
$pl_primary: #333E48;
$pl_white: #FFFFFF;
$pl_success: #3B7C12;
$pl_info: #025C93;
$pl_warning: #B77401;
$pl_danger: #890F46;

$add_form_animate_time: .5s;

$dropshadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

body {
    margin: 0;
    color: #1a2138;
    font-family: "Nunito";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    background-color: $pl_main_background;
}


.container{
    padding: 0px 30px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

.test-block{
    height: 200px;
    width: 100%;
    box-shadow: $dropshadow;
    background-color: $pl_white;
    border-radius: 20px;
    margin-bottom: 45px;

}

#root{
    position: relative;
}